

/* Stile */
body{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background: gainsboro;
}

.body-temi{
    background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0, 0.7)), url("img/bg/bg-m.webp");
    background-size: cover;
}

.contenitore{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

a{
    text-decoration: none !important;
}
a:hover{
    color: white !important;
}
h1, h2, h3, h4, h5, p{
    color:#000;
    padding-bottom: 30px;
}
p{
    line-height: 28px;
    color: #666;
    font-weight: 300;
}

em {
    font-style: italic;
}

.big-text{
    font-size: 70px;
    font-weight: 900;
}
.large-text{
    font-size: 50px;
    font-weight: 700;
}
.med-text{
    font-size: 40px;
}
.normal-text{
    font-size: 20px;
}
.small-text{
    font-size: 14px;
}
.light-text{
    font-size: 14px;
    font-weight: 300;
}
.quotes{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.button-colored, .button-transparent{
    padding: 15px 25px;
    display: inline-block;
    border-radius: 15px;
    color:#fff;
}
.button-colored{
    background: rgba(118, 87, 255);
}
.button-transparent{
    background: rgba(118, 87, 255, 0.342);
}

@media (max-width: 770px) {
    .big-text{
        font-size: 60px;
    }
    .large-text{
        font-size: 40px;
    }
}

/* Logo */
.logo{
    z-index: 10;
    position: fixed;
    padding: 10px;
    border-radius: 1rem;
}
.img-logo{
    width: 60px;
}

/* ! Homepage */
.home{
    position: relative;
    height: 119vh;
    display: flex; width: 100%;align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0, 0.7)), url('img/bg/bgvideo.jpg') no-repeat bottom bottom;
    background-size: cover;
    overflow: hidden;
}
  
.home::after{
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.75;
}
  
#video-home{
    position: absolute;
    top: -20%;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}
  
.home-content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    z-index: 1;
    position: relative;
}
  
.home-content h1, .home-content p{
    color: #fff;
}

@media (max-width: 770px) {
    #video-home{
        bottom: 0;
        height: 100vh;
    }
}

/*Divider*/
.rowDiv{
    width:100%;
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position:relative;
    z-index: 2;
}
  
    /* -- SVG CSS -- */
  
.svg-separator{
    display: block;
    background: 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    -webkit-transform: translateY(-100%) translateY(2px);
    transform: translateY(-100%) translateY(2px);
    width: 100%;
}
.svg-separator.bottom{
    top: auto;
    bottom: 0;
}


/*Container Section*/
#text{
    display: none;
}

#containerSection{
    margin: 0 auto;
    padding: 5%;
}

.section-left{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
}

.section-right{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}

.card{
    border-radius: 1rem !important;
}

.card-body{
    padding: 1rem !important;
}

.card-image{
    background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0, 0.7)), url('img/bg/bg-montagne.webp');
    background-position: center;
    background-size: cover;
    border-radius: 0.75rem;
}

.card-segale{
    background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0, 0.7)), url('img/bg/bg-segale.webp');
    background-position: center;
    background-size: cover;
    border-radius: 0.75rem;
}

.card-lana{
    background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0, 0.7)), url('img/bg/bg-lana.webp');
    background-size: cover;
    background-position: center;
    border-radius: 0.75rem;
}

.card-image .card-title{
    color: white !important;
}

.card-image p{
    color: #9f9f9fb8;
}

@media (max-width: 770px) {
    .section-left{
        margin-top: 10%;
        justify-content: center;
    }
    .section-right{
        margin-top: 10%;
        justify-content: center;
    }
}

/* Tematiche */
.navbar-temi{
    width: 75%;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.11);
    color: white;
    padding: auto;
    background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0, 0.7)), url('img/bg/bg-segale.webp');
    background-size: cover;
    border-radius: 0.75rem;
    background-position: center;
}

.container-fluid{
    display: block !important;
    text-align: center;
}

.video-temi{
    width: 75% !important;
    border-radius: 1rem;
    margin: 5%;
}

.card-temi{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.card-temi .card{
    display: flex;
    flex-direction: row;
    background: rgba(233, 233, 233, 0.808);
    border: solid 1px;
    padding: 2%;
}

.card-temi .row{
    flex-direction: row;
}


.card-temi .col-md-4{
    align-self: center;
    padding: 1%;
}


@media (max-width: 770px) {
    .card-temi{
        width: 90%;
    }

    .video-temi{
        width: 90% !important
    }

    .navbar-temi{
        width: 90%;
    }
}

/* ! Footer */
.footer{
    background: linear-gradient(0deg, rgba(0,0,0,.9), rgba(0,0,0,.9));
    text-align: center;
    margin-top: 10%;
    width: 100%;
}

.col p{
    padding: 25px;
}

.footer a{
    color: white;
    text-decoration: none !important;
}

/*Default*/
.white-text{
    color: white !important;
}
.text-white{
    color: white !important;
}


/*Padding per evitare problemi di sovrapposizione*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*
DA inserire nel HTML
<div class="card-temi">
            <div class="card mb-3 hover-shadow">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Zappa</h5>
                        <p class="card-text">
                            Questa non è una zappa.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 centuries ago</small>
                        </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="carouselMaterialStyleZappa" class="carosello-temi carousel slide carousel-fade img-fluid rounded-start carousel-dark" data-mdb-ride="carousel">
                            <!-- Inner -->
                            <div class="carousel-inner rounded-5 shadow-4-strong">
                                <!-- Single item -->
                                <div class="carousel-item active">
                                    <img src="img/segale/zappa/zappa1.jpg" class="d-block w-100"
                                    alt="Staio" />
                                </div>
                                <!-- Single item -->
                                <div class="carousel-item">
                                    <img src="img/segale/zappa/zappa2.jpg" class="d-block w-100"
                                    alt="Staio" />
                                </div>
    
                                <!-- Single item -->
                                <div class="carousel-item">
                                    <img src="img/segale/zappa/zappa3.jpg" class="d-block w-100"
                                    alt="Staio" />
                                </div>
                                <!-- Inner -->
    
                                <!-- Controls -->
                                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyleZappa" data-mdb-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyleZappa" data-mdb-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-temi">
            <div class="card mb-3 hover-shadow">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div id="carouselMaterialStyleGerlo" class="carosello-temi carousel slide carousel-fade img-fluid rounded-start carousel-dark" data-mdb-ride="carousel">
                            <!-- Inner -->
                            <div class="carousel-inner rounded-5 shadow-4-strong">
                                <!-- Single item -->
                                <div class="carousel-item active">
                                    <img src="img/segale/gerlo/gerlo1.jpeg" class="d-block w-100"
                                    alt="Staio" />
                                </div>
                                <!-- Single item -->
                                <div class="carousel-item">
                                    <img src="img/segale/gerlo/gerlo2.jpeg" class="d-block w-100"
                                    alt="Staio" />
                                </div>
    
                                <!-- Single item -->
                                <div class="carousel-item">
                                    <img src="img/segale/gerlo/gerlo3.jpeg" class="d-block w-100"
                                    alt="Staio" />
                                </div>
                                <!-- Inner -->
    
                                <!-- Controls -->
                                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyleGerlo" data-mdb-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyleGerlo" data-mdb-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Gerlo</h5>
                        <p class="card-text">
                            Gerlo
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-temi">
            <div class="card mb-3 hover-shadow">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Vanga</h5>
                        <p class="card-text">
                            Questa è una Vanga
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 centuries ago</small>
                        </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="carouselMaterialStyleVanga" class="carosello-temi carousel slide carousel-fade img-fluid rounded-start carousel-dark" data-mdb-ride="carousel">
                            <!-- Inner -->
                            <div class="carousel-inner rounded-5 shadow-4-strong">
                                <!-- Single item -->
                                <div class="carousel-item active">
                                    <img src="img/segale/vanga/vanga1.jpeg" class="d-block w-100"
                                    alt="Staio" />
                                </div>
                                <!-- Single item -->
                                <div class="carousel-item">
                                    <img src="img/segale/vanga/vanga2.jpeg" class="d-block w-100"
                                    alt="Staio" />
                                </div>
                                <!-- Inner -->
    
                                <!-- Controls -->
                                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyleVanga" data-mdb-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyleVanga" data-mdb-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
*/